nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	}

nav a {
	display:block;
	/* padding:0px 5px;	 */
	color:#FFF !important;
	text-decoration:none !important;
}

/* .s1:hover { 
	background-color: #383b3f;
} */

/* Hide Dropdowns by Default */
 nav ul ul {
	display: none;
	position: absolute; 
}
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
    background-color: black;
    color: white;
}
