body {
  background:#fff;
  font-weight:300;
}

h1.product-page {
  font-weight:800;
  margin: 0 0 20px;
  padding:0;
  font-size:26px;
  color:#1BB0CE;
}
h2.product-page {
  font-weight:800;
  margin: 0 0 20px;
  padding: 0;
  font-size:18px;
  color:#1bb0ce;
}
p {
  margin: 0 0 20px;
  padding: 0;
}
p.product-info-meta {
  margin:0;
}
p.product-body {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
.padding {
  padding: 20px;
}
.container {
  width:982px;
  margin:0 auto;
  background:#fff;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  padding: 0;
}

.product-container {
  margin:0 0 20px;
}
.product-left-container {
  width:542px;
  padding: 20px;
  min-height:200px;
  float:left;
}
.product-col-container {
  width: 360px;
  padding: 20px;
  min-height:200px;
  float:left;
}
.main-product-container .product-left-container {
  background:#ededed;
  min-height: 440px;
  border-bottom: 1px solid #ddd;
}
.main-product-container .product-col-container {
  background:#fafafa;  
  min-height: 440px;
  border-bottom: 1px solid #ddd;
  border-left:1px solid #ddd;
  width: 359px;
}
.quantity {
  height: 40px;
  line-height: 38px;
  float:left;
  border:1px solid #ddd;
  display:inline-block;
  border-right:0;
  padding: 0 20px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
button {
  display:inline-block;
  border-left: 0;
  margin: 0;
  float:left;
  line-height: 38px;
  height:42px;
  border:1px solid #ddd;
  background: #fdfdfd;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
}
.product-price {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background:#fff;
}
.product-price-meta {
  font-size:12px;
  font-style: italic;
  font-weight: 400;
}
.price {
  color:#1BB0CE;
  font-weight:800;
}
.old-price {
  text-decoration: line-through;
  font-weight: 400;
  color:#888;
  display:inline-block;
  margin: 0 5px 0;
}